.center {
    justify-content: center;
    display: flex;
    width: 28rem;
    margin: auto;
    text-align: center;
}

.position {
    padding-top: 5%;
}

.carousel-item {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-animation: 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: 0.5s forwards;
    animation-delay: 2s;
}

.carousel-item-nextt {
    transform: translateX(25%) scale(0.8) !important;
    left: 40% ;
    opacity: 0.3;
    z-index: 1;
}

.carousel-item.active {
    transform: translateX(20%) scale(1) !important;
    left: 25% ;
    opacity: 1;
    z-index: 2;
}

.carousel-item-prevent {
    transform: translateX(25%) scale(0.8) !important;
    left: 5% ;
    opacity: 0.3;
    z-index: 1;
}

.card {
    border: 0;
    width: 50%;
}


@media screen and (min-width:320px) and (min-height:501px) {
    .carousel-item-nextt {
        width: 45%;
        height: fit-content;
    }

    .carousel-item.active {
        width: 50%;
        height: fit-content;
        left: 17% !important;
    }

    .carousel-item-prevent {
        width: 45%;
        height: fit-content;
    }

    .top-space {
        margin-top: 5rem;
    }

    .btn {
        font-size: small;
    }

    .form-control {
        font-size: 10px;
        margin-bottom: 0;
    }

    .col-md-6 {
        flex: initial;
        display: inline-table;
    }

}
@media only screen and (min-width:613px) and (max-height:768px) {
    .carousel-item-nextt {
        width: 35%;
        left: 40% !important;
    }

    .carousel-item.active {
        width: 35%;
        left: 25% !important;
    }

    .carousel-item-prevent {
        width: 35%;
        left: 5% !important;
    }
}
@media only screen and (min-height:320px) and (max-height:500px) {
    p {
        font-size: x-small;
    }

    h5 {
        font-size: small;
    }

    .imgstyle {
        height: 100px;
    }

    .btn {
        font-size: xx-small;
    }

    .position {
        padding-top: 1px !important;
    }

    .form-control {
        font-size: 10px;
    }

    .top-space {
        margin-top: 0rem !important;
    }

    .card {
        width: 40%;
    }

    p {
        margin-bottom: 10px;
    }

    .imgstyle {
        width: 200px;
    }

    .content {
        display: flex !important;
        justify-content: center !important;
    }
}

@media screen and (min-width:1023px) {
    .imgstyle {
        height: 297px !important;
    }

    .form-control {
        font-size: 1rem;
    }

    .carousel-item-nextt {
        width: 40%;
        left: 40% !important;
    }

    .carousel-item.active {
        width: 40%;
        left: 25% !important;
    }

    .carousel-item-prevent {
        width: 40%;
        left: 5% !important;
    }

}

.icon-search {
    position: absolute;
    top: 25%;
    right: 10%;
}

@media screen and (min-height:1023px) {
    .top-space {
        margin-top: 10rem;
    }

    .icon-search {
        top: 15% !important;
    }
}

@media screen and (min-height:1365px) {
    .top-space {
        margin-top: 25rem !important;
    }
}

@media screen and (min-width:1920px) {
    .carousel-item-nextt {
        width: 30%;
        left: 45% !important;
    }

    .carousel-item.active {
        width: 30%;
        left: 30% !important;
    }

    .carousel-item-prevent {
        width: 30%;
        left: 10% !important;
    }
}

select.form-control:not([size]):not([multiple]) {
    height: 100%;
}
