<div class="position" *ngIf="!loading">
  <!-- Search area -->
  <div class="container mb-2 content">
    <!-- Text search -->
    <div class="col-lg-5 col-md-6 col-sm-12 mt-1">
      <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.name.official" [term]="t"></ngb-highlight>
      </ng-template>
      <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="searchCountry"
        [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="Search Country..."
        (ngModelChange)="searchText($event)" (keydown.enter)="onKeydown($event)" />
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
        class="bi bi-search icon-search" viewBox="0 0 16 16" (click)="searchInfo(searchCountry)">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>
    </div>
    <!-- selection search -->
    <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
      <div class="form-group">
        <select  class="form-control" [ngModel]="selectedContinents" (ngModelChange)="selectedListFromContinents($event)">
          <option value="0">All Continents</option>
          <option *ngFor="let item of listContinents" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>

  </div>
  <!-- Body Slide-->
  <div>
    <div *ngFor="let val of data;let i = index" class="top-space">
      <div [ngClass]="i == collectIndex?'active carousel-item card center ':i == collectIndex+1?
      'carousel-item-nextt carousel-item card center ':i > collectIndex+2?'d-none':
      i == collectIndex-1?'carousel-item-prevent carousel-item card center ': i < collectIndex-2?'d-none':'d-none'">
        <img [src]="val.flags.svg" alt="....." class="card-img-top imgstyle contetnt-fit">
        <div class="card-body">
          <h5 class="card-title">{{val.name.official}}</h5>
          <div class="text-left">
            <p><small><b>Region:</b>{{val.region}} ({{val.subregion}})</small></p>
            <p><small><b>Capital city:</b> {{val.capital}}</small></p>
            <p><small><b>Population:</b> {{val.population | number}}</small></p>
          </div>

          <a href="#" class="btn btn-primary" (click)="open(content,val)">More Informations</a>
        </div>
      </div>
    </div>
    <div class="arrow-position">
      <a class="carousel-control-prev" role="button" data-slide="prev" (click)="prev()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" role="button" data-slide="next" (click)="next()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- Modal Detail -->
    <ng-template #content let-c="close" let-d="dismiss" >
      <div class="bg-secondary text-white">
        <div class="modal-header text-white">
        <h4 class="modal-title" id="modal-basic-title">Detail of {{sentData.name.common}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <app-detail [coreData]="sentData"></app-detail>
      </div>
      </div>
      
    </ng-template>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>